# 5ONG Environment Variables
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

AUTH_SECRET=your-32-char-jwt-secret-key-change-me

# Firebase Configuration
FIREBASE_PROJECT_ID=jf-player-510117
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

PYTHON_SERVICE_URL=http://127.0.0.1:8000
